{% extends 'base.html.twig' %}
{%  block  body %}
 
<div class="row p-0 m-5">
   
    {% for ressource in ressources %}
    
    <div class="col-lg-3 col-md-4 col-sm-5 col-8 my-3 mx-lg-0 mx-md-0 mx-sm-0 mx-5 ">
        <div class="card shadow rounded-lg">
             <span class="strong p-2">{{ressource.nomRessource}}</span>
            <div class="card-body p-0">
                <a href="{{ asset('uploads/profils/' ~ ressource.chemin) }}">
                    <img src="{{ asset("icons/pdf.png") }}" class="" height="110px" width="100%">
                </a>  
            </div> 
            <div class="card-footer">
                <a href="#" class="btn btn-primary  mr-3"> Telecharger </a>
                <a href={{ path ("detail_ressource", {'idr':ressource.id}) }} class="btn btn-success mt-1"> details... </a>
            </div>
        </div>
    
    </div> 
    {% endfor %} 
</div>
{% endblock %}
