{% extends 'base.html.twig' %}
{%  block  body %}
 
<div class="row mr-lg-3 mr-md-3 mr-sm-3">
   
    {% for ressource in ressources %}
    
    <div class="col-lg-3 col-md-4 col-sm-6 col-11 my-3 mx-lg-0 mx-md-0 mx-sm-0 mx-3">
        <div class="card shadow rounded-lg">
             <span class="strong p-2">{{ressource.nomRessource}}</span>
            <div class="card-body p-0">
                <a href="{{ asset('uploads/fichier/' ~ ressource.chemin) }}">
                    <img src="{{ asset("icons/pdf.png") }}" class="" height="110px" width="100%">
                </a>  
            </div> 
            <div class="card-footer">
                <a href="#" class="btn btn-primary  mr-3">
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-download" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M.5 9.9a.5.5 0 0 1 .5.5v2.5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1v-2.5a.5.5 0 0 1 1 0v2.5a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2v-2.5a.5.5 0 0 1 .5-.5z"/>
                        <path fill-rule="evenodd" d="M7.646 11.854a.5.5 0 0 0 .708 0l3-3a.5.5 0 0 0-.708-.708L8.5 10.293V1.5a.5.5 0 0 0-1 0v8.793L5.354 8.146a.5.5 0 1 0-.708.708l3 3z"/>
                    </svg>
                </a>
                
                <a href={{ path ("detail_ressource", {'idr':ressource.id}) }} class="btn btn-success mt-1"> 
                    <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-three-dots" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                    </svg>
                </a>
            </div>
        </div>
    
    </div> 
    {% endfor %} 
</div>
{% endblock %}
