{% extends "base.html.twig" %}

{% block body %}
    <h1> heloooooooo</h1>
    <div class="row">
        <div class="container col-6">
            <div class="card shadow">
                <img class="img-card-top" src="https://place-hold.it/500x300"/>
                <div class="card-body">
                    <p> Nom du fichier : rapport merge</p>
                    <p> Auteur : ginie</p>
                    <p> Date publication : 01/01/2020 </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}