{% extends "base.html.twig" %}

{% block body %}
    <div class="row m-5">
        <div class="container col-sm-6 col-12">
            <div class="card shadow">
                <img class="img-card-top" src="https://place-hold.it/500x300"/>
                <div class="card-body">
                    <p> Nom du fichier : {{ressource.nomRessource}}</p>
                    <p> Auteur :<a href={{ path("show_user", {'id':ressource.auteur.id})  }}> {{ressource.auteur.nom}} </a></p>
                    <p> Date publication : </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}